.wrapper * {
    color: black;
    justify-content: normal;
    align-items: normal;
    margin-bottom: 1px;
    margin-right: 1px;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    grid-gap: 2px;
    height: 2000px;
}

#logo {
    background: white;
    color: black;
    font-family: 'Staatliches', cursive;
    font-weight: bold;
    font-size: 30px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#logo a {
    border-radius: 5px;
    border: 3px solid black;
    text-decoration: none;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 1px;
}

#buttons {
    padding-right: 10%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    grid-column-start: 17;
    grid-column-end: 21;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: auto;
    display: flex;
    justify-content: space-around;
}

#buttons a {
    font-size: auto;
    text-decoration: none;
    
}

#buttons a:hover {
    color: rgb(8, 134, 212);
    /* color: #e2b34d; */
}

#intro {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 40px;
    display: block;
    grid-column-start: 1;
    grid-column-end: 21;
    grid-row-start: 2;
    grid-row-end: 7;
}

#intro h1 {
    font-size: 2.5em;
}

#intro h4 {
    font-weight: 400;
}

#avatar {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 100px;   
}

#pics {
    grid-column-start: 1;
    grid-column-end: 21;
    grid-row-start: 8;
    grid-row-end: 9;
    display: inline-flex;
}

#pics img {
    max-height: 175px;
    max-height: 175px;
    min-height: 50px;
    min-width:50px;
}

#aboutme {
    display: block;
    background: black;
    grid-column-start: 1;
    grid-column-end: 21;
    grid-row-start: 9;
    grid-row-end: 12;

}

#aboutme h3 {
    font-size: 1.5em;
    padding-top: 2.5%;
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#aboutme h4 {
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:400;
    display: flexbox;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}

#skills {
    grid-column-start: 1;
    grid-column-end: 21;
    grid-row-start: 12;
    grid-row-end: 19;
}


#container1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 0%;
    grid-column-start: 1 !important;
    grid-column-end: 2 !important;
    height: 500px;
}

#container2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 0%;
    grid-column-start: 2 !important;
    grid-column-end: 3 !important;
    height: 500px;
}

#container3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 0%;
    grid-column-start: 3!important;
    grid-column-end: 4 !important;
    height: 500px;
    
}

#skills {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 0%;
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
}

#skills h1 {
    font-size: 2.5em;
}

#skills h3 {
    font-size:1.5em;
    text-align: center;
}

#skills p {
    font-weight: 400px;
}

#contactme {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: black;
    grid-column-start: 1;
    grid-column-end: 21;
    grid-row-start: 20;
    grid-row-end: 21;
    display: block; 
}

#contactme h3, #contactme a {
    padding-top: 2%;
    color: white !important;
}

#contactme p {
    color: white !important;
    padding-bottom: 3%;
}

.items {
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

#contactme h3 {
    font-size: 1.5em;
}
