.wrapper * {
    color: black;
    background: red;
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
    margin-right: 1px;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    grid-template-rows: 5fr 20fr 5fr;
    grid-gap: 10px;
    height: 720px;
}

header, footer {
    grid-column-start: 1;
    grid-column-end: 4;
}

.items {
    display: flex;
    align-items: center;
    justify-content: center;
}